<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button routerDirection="back"></ion-back-button>
      </ion-buttons>
    <ion-title>{{ 'SETTINGS.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label>{{ 'SETTINGS.language' | translate }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="selected" (ionChange)="select($event.target.value)">
        <ion-select-option *ngFor="let lng of languages" value="{{lng.value}}">{{lng.text}}</ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>
