<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button routerDirection="back"></ion-back-button>
      </ion-buttons>
    <ion-title>{{ 'PROFILE.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
