<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="newsfeed">
      <ion-icon name="flash"></ion-icon>
      <ion-label> {{ 'HOME.tabNewsFeed' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="projections">
      <ion-icon name="apps"></ion-icon>
      <ion-label> {{ 'HOME.tabProjections' | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
