<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'NEWSFEED.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let n of newsfeed;" (click)="openPost(n.enlace)">
      <img [src]="n.urlimg" />
      <ion-card-header>
        <ion-card-title>{{n.name}}</ion-card-title>
        <ion-card-subtitle>{{n.createdAt | date:'dd/MM/yyyy'}} <br> {{n.createdAt | date:'h:mma' | lowercase}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{n.contenido}}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
