.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
    color: #FFFFFF;
  
    .buttons-container {
      margin-top: 30px;
      color: #FFFFFF;
    }
  }

  .welcomeText{
      font-size: 3em;
      font-weight: bold;
  }

  .fbicon{
      margin-right: 5%;
      font-size: 3em;
  }

  .txtLoginMail{
    color: #FFFFFF;
  }

  .logo{
    max-width: 60%;
  }

  ion-content{
    --ion-background-color:rgb(0, 0, 0);
  }