<ion-content force-overscroll="false">
  <gl-background-video src="assets/video/loginVideo.mp4" poster="assets/img/loginPoster.jpg"></gl-background-video>
  <div class="page-centered-element">
    <div class="content">
      <div>
        <p class="welcomeText">
            {{ 'LOGIN.welcome' | translate }}
        </p>
      </div>
      <div>
        <img class="logo" src="assets/img/jbCapitalLogo.png">
      </div>
      <div class="buttons-container">
        <ion-button (click)="loginWithFB()">
          <ion-icon name="logo-facebook" class="fbicon"></ion-icon>
          {{ 'LOGIN.btnLoginFacebook' | translate }}
        </ion-button>
      </div>
      <div>
        <p class="txtLoginMail">
          {{ 'LOGIN.txtLoginMail' | translate}}
        </p>
      </div>
    </div>
  </div>
</ion-content>