<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content class="sidemenu">
          
        <div id="menuprofileinfo">
          <img class="custom-avatar" [src]="user.profilePicURL" />
          <h2>{{ user.name }}</h2>
          <p>{{ user.emailAddress }}</p>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="forward" (click)="navigate(p.url)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>



    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
