#menuprofileinfo{
    text-align: center;
    background-color: var(--ion-color-primary);
    color: #FFFFFF;
    padding-top: 10%;
    border-bottom: 5px solid var(--ion-color-secondary);
}

.sidemenu{
    background-color: rgba(255, 255, 255, 0.95);
}

.custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}