.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.infoRight{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgLeft{
    max-width: 70%;
}
