<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Proyecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let p of projections;" (click)="openDetail(p.id)">
      <div class="container">
        <div class="imgLeft">
            <img [src]="p.urlimg" />
        </div>
        <div class="infoRight">
          <ion-card-header>
            <ion-card-title>{{p.name}}</ion-card-title>
            <ion-card-subtitle>{{p.createdAt | date:'dd/MM/yyyy'}} <br> {{p.createdAt | date:'h:mma' | lowercase}}</ion-card-subtitle>
            <ion-card-subtitle>{{p.subtitulo}}</ion-card-subtitle>
            <ion-card-subtitle>{{p.tipo}}</ion-card-subtitle>
          </ion-card-header>
        </div>
      </div>
      <!--<ion-item>
        <ion-button size="default" slot="end" >{{ 'PROJECTION.viewMore' | translate}}</ion-button>
      </ion-item>-->
    </ion-card>
  </ion-list>
</ion-content>
