.info{
    padding: 0% 10% 0% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infoHeader{
    margin: 0% 10% 0% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    padding-bottom: 2%;
}

.infoItem{
    width: 40%;
}

.noMarginTopBot{
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}

.noMarginBot{
    margin-bottom: 1% !important;
}

.commentBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.custom-avatar {
    height: 10vw;
    width: 10vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 5% 5% 5% 1%;
    align-self: flex-start;
}

.commentsHeader{
    margin: 5% 0% 0% 0%;
}

.backbutton{
    font-size: 2em;
    margin: 0% 0% 0% 5%;
}

.custom-avatar-comment{
    height: 10vw;
    width: 10vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    align-self: flex-start;
    margin: 2% 5% 2% 2%;
}

.commentContent{
    padding: 0% 2% 0% 3%;
}

.commentUserInfo{
    display: flex;
    align-items: center;
}

.commentTextArea{
    min-width: 100%;
}

.commentButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.imgItem{
    max-width: 20%;
}

.commentBoxContent{
    width: 100%;
}

.btn{
    width: 20%;
}

.commentImg{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
}