<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="closeModal()" class="backbutton"> 
        <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
    <ion-title>{{ projection.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <img [src]="projection.urlimg" (click)="showImage(projection.urlimg)">

  <div class="infoHeader">
    <div class="item">
        <h1 class="noMarginBot">{{projection.name}}</h1>
        <h4 class="noMarginTopBot">{{projection.subtitulo}}</h4>
        <h4 class="noMarginTopBot">{{projection.tipo}}</h4>
    </div>
    <div class="item">
        <h4> {{projection.createdAt | date:'dd/MM/yyyy'}} <br> {{projection.createdAt | date:'h:mma' | lowercase}} </h4>
    </div>
  </div>
  <hr />
  <div class="info">
    <div class="infoItem" *ngIf="projection.entryPrice">
      <h6> Entry Price: {{ projection.entryPrice }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.stopLoss">
      <h6> Stop Loss: {{ projection.stopLoss }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.buyLimit">
      <h6> Buy Limit: {{ projection.buyLimit }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.sellLimit">
      <h6> Sell Limit: {{ projection.sellLimit }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.takeProfit1">
      <h6> Take Profit 1: {{ projection.takeProfit1 }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.takeProfit2">
      <h6> Take Profit 2: {{ projection.takeProfit2 }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.takeProfit3">
      <h6> Take Profit 3: {{ projection.takeProfit3 }} </h6>
    </div>
    <div class="infoItem" *ngIf="projection.takeProfit4">
      <h6> Take Profit 4: {{ projection.takeProfit4 }} </h6>
    </div>
  </div>

  <ion-header class="commentsHeader">
    <ion-toolbar color="primary">
      <ion-title>Comentarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="commentBox">
    <img class="custom-avatar" [src]="user.profilePicURL" />
    <div class="commentBoxContent">
      <ion-textarea auto-grow="true" placeholder="{{ 'PROJECTION.commentPlaceHolder' | translate }}" rows="3" [(ngModel)]="comment"></ion-textarea>

      <div class="imgItem" (press)="deleteImg()" *ngIf="base64Images">
          <img [src]="_DomSanitizer.bypassSecurityTrustUrl(base64Images)" imageViewer class="img"/>
      </div>
    </div>
    
  </ion-item>
  <div class="commentButtons">
    <ion-button slot="end" icon-only clear (click)="selectImgSource()" *ngIf="!base64Images" class="btn">
      <ion-icon name="images"></ion-icon>
    </ion-button>
    <ion-button slot="end" icon-only clear class="btn" (click)="postComment()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>

  <ion-list>
    <ion-card *ngFor="let c of comments;">

      <div class="commentUserInfo">
        <img class="custom-avatar-comment" [src]="c.profilePicURL" />
        <p><b>{{ c.accountName }}</b><br>{{c.createdAt | date:'dd/MM/yyyy'}} - {{c.createdAt | date:'h:mma' | lowercase}}</p>
      </div>

      <div class="commentContent">
        <p>{{ c.comentario }}</p>
      </div>

      <div class="commentImg" *ngIf="c.urlimg">
        <img [src]="c.urlimg"  (click)="showImage(c.urlimg)"/>
      </div>
    </ion-card>
  </ion-list>

</ion-content>
