<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button routerDirection="back"></ion-back-button>
      </ion-buttons>
    <ion-title>{{ 'CONFERENCES.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="page-centered-element">
      <div class="content">
        <div>
          <img class="logo" src="assets/img/zoomlogo.png">
        </div>

        <div>
          <p class="txtConferenceInfo">
            {{ 'CONFERENCES.defaultText' | translate}}
          </p>
        </div>

        <div>
          <ion-button color="primary" (click)="joinMeeting()">Unirse</ion-button>
        </div>
      </div>
    </div>

</ion-content>
