.page-centered-element {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: #FFFFFF;
}

.txtConferenceInfo{
    color: rgb(50, 50, 50);
    font-size: 2em;
}

.logo{
    max-width: 60%;
}